.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 800px;
    padding: 50px;
    background-color: grey;
    gap: 5%;
    border-radius: 8%;
    justify-content: center;
}

.display {
    margin-bottom: 30px;
    background-color: white;
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: center;
    border-radius: 7%;
    background-color: rgb(76, 160, 76);
    font-size: 70px;
    color: black;
    font-family: monospace;
    overflow: hidden;
}

.row {
    display: flex;
    height: 10%;
    gap: 5%
}

.number,
.operator {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    font-size: 40px;
}
.number {
    background-color: white;
}

.operator {
    background-color: yellow;
}

#backspace {
    width: 5%
}